.kp-dialog {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.kp-dialog-info {
  background: rgba(33,150,243, 0.4);
}

.kp-dialog-warning {
  background-color: rgba(255,82,82, 0.4);
}

.kp-dialog.kp-dialog-warning > .kpmdl-card {
    min-width: 400px;
}

.kp-dialog .kp-main {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

.kp-dialog .kpmdl-card__title-text {
    font-weight: 500;
}

.kp-image-container {
    align-self: center;
    text-align: center;
}

.kp-image-container img {
    max-height: 70vh;
    max-width: 500px;
    display: inline-block;
    padding: 16px;
    box-sizing: border-box;
}

.kp-dialog .kpmdl-card {
    width: auto;
    margin: 5vh auto auto auto;
    max-width: 500px;
    min-width: 300px;
}

.kp-dialog .kpmdl-card__menu {
    color: #fff;
}

.kp-title-icon {
    width: 1em;
    height: 1em;
}
