.kp-img-container {
    background: #eb431e;
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 10px;
    width: auto;
    max-width: 250px;
    padding: 5px;
    box-shadow: 4px 4px 4px -2px #232323;
    animation-name: kp-secure-img;
    animation-duration: 2s;
}

.kp-img-close {
    position: absolute;
    top: 10px;
    right:10px;
    cursor: pointer;
    font-size: 14px;
    color: #eb431e;
    opacity: 0.8;
}
.kp-img-container:hover .kp-img-close {
    box-shadow: 1px 1px 1px -2px #232323;
    font-size: 16px;
    opacity: 1;
}

@keyframes kp-secure-img {
    0%   { right: 40%; top: 40%;}
    50%   { right: 40%; top: 40%; -webkit-transform: scale(1.5);}
    100%   { top:10px; right: 10px;  }
}

