// Common look and feel settings

$kp-font-family: "Roboto";
$kp-font-weight: 200;
$kp-font-size: 16px;

//$kp-base-color: #1565c0;
//$kp-light-color: #5e91f2;
//$kp-base-color: #03a9f4;
//$kp-light-color: #b3e5fc;
$kp-base-color: #0288d1;
$kp-light-color: #4fc3f7;
