@import "base";

.mdl-layout__tab-bar {
    justify-content: center;
}

.mdl-layout__header-row {
    justify-content: center;
}

.kp-max-width {
    width: 100%;
    /*text-align: center;*/
    margin: auto;
    max-width: 900px;
}

img.secure-image {
  width: 100%;
  height: auto;
}

img.template-image {
    width: 100%;
    height: auto;
}

.mdl-data-table .kp-wl-table {
    max-height: 12em;
}

.kp-template-card {
    min-height: 100px;
}

.kp-login-url {
    max-width: 16em;
    word-wrap: break-word;
}


